body {
    background-color: #F1FFFA;
    color: #454545;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: rgb(88, 0, 0);
}

h1 {
    font-size: 2rem;
}

li {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    line-height: 23px;
}

#side-div {
    background-color: #93B7BE;
    height: 100vh;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
}

.group {
    background-color: rgba(95, 158, 160, 0.459);
    margin-bottom: 5px;
}

.box {
    margin: 1px 0;
}

.box a {
    font-size: 1rem;
    color: #edf6f9;
    display: inline-block;
    margin: 3px auto;
    width: 99%;
    /* text-align: center; */
    padding-left: 10px;
}

ul.box a {
    width: 60%;
    color: #17472d;
}

ul.box a.small {
    font-size: 1rem;
    width: 80%;
    margin: 0;
}

a.smallsm {
    font-size: 0.8rem;
    margin: 0;
}

#right-box {
    width: 85%;
    margin-left: auto;
    padding: 20px;
    box-sizing: border-box;
}

.content-box {
    background-color: rgba(0, 180, 216, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.inside-content {
    background-color: rgba(255, 255, 255, 0.377);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.inside-content div {
    background-color: rgba(0, 0, 0, 0.158);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}


/* CHICKEN SECTION */

.chicken {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.chicken p {
    padding: 0 4px;
}

.c-para {
    color: white;
    background-color: black;
}

.table {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.table section {
    border: 2px solid black;
    border-radius: 20px;
    width: 45%;
    padding: 10px;
}