.grad {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0;
    padding: 4px;
    display: flex;
    align-items: center;
}

#navbar>div {
    width: 50%;
}

#navbar h2 {
    color: white;
    margin: 0;
    padding: 0;
}

#nav-icon1 span {
    display: block;
    margin: 4px;
    height: 7px;
    width: 40px;
    background: #000000;
    border-radius: 9px;
}


/* **** w3school **** */

body {
    font-family: "Lato", sans-serif;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel .home {
    font-size: 25px;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border: none;
    width: 45px;
}

.openbtn:hover {
    background-color: rgba(0, 0, 0, 0.158)
}


/* ******* Local Stuff ******* */

p,
li {
    font-size: 1.1rem;
}

.content-box {
    background-color: rgb(26 164 210);
    border-radius: 20px;
    padding: 10px;
    margin: 55px 10px 20px 10px;
}

.inside-content {
    background-color: rgba(255, 255, 255, 0.438);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgb(2 14 82);
}

.in {
    background-color: rgba(0, 0, 0, 0.151);
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.wh {
    background-color: rgba(255, 255, 255, 0.411);
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 0 15px black;
}

body {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content-box img {
    display: inline-block;
    margin: 5px;
    ;
}

.example {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
    .content-box img {
        width: 90%;
    }
}